/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --primary-font-family: "IBM Plex mono", sans-serif;
  --font-size-text: 18px;
  --primary-color: #ffc2e6;
  --main-background-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --color-text-titel: #353430;
  --color-menu: #32312d66;
  --shadow-color: #ff0070;
  --link-color: #ff8dcb;
  --menu-button-color: #ff0070;
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --hover-color-text: rgba(53, 52, 48, 1);
  --title-color: #ffc2e6;
  --title-shadow-color: 4px 4px 0 var(--accent-color);
  --content-text-color: #353430;
  --section-text-color: #353430;
  --footer-title: #ffc2e6;
  --color-shadow-link: #ff8dcb;
  --menu-batton: #353430;
  --color-focus: #353430;
  --menu-button_active: #353430;
  --color-focus-link: #353430;
  --decor-zone: #fff1f7;
  --decor-zone-shadow: #fff1f7;
  --decor-zone-corner: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-font-family: "IBM Plex mono", sans-serif;
    --font-size-text: 18px;
    --primary-color: #ffc2e6;
    --main-background-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --color-text-titel: #353430;
    --color-menu: #32312d66;
    --shadow-color: #ff0070;
    --menu-button-color: #ff0070;
    --hover-color: 1px solid rgba(50, 49, 45, 0.4);
    --hover-color-text: rgba(53, 52, 48, 1);
    --title-color: #ffc2e6;
    --link-color: #ff8dcb;
    --title-shadow-color: 4px 4px 0 var(--accent-color);
    --content-text-color: #353430;
    --section-text-color: #353430;
    --footer-title: #ffc2e6;
    --color-shadow-link: #ff8dcb;
    --menu-batton: #353430;
    --color-focus: #353430;
    --menu-button_active: #353430;
    --color-focus-link: #353430;
    --decor-zone: #fff1f7;
    --decor-zone-shadow: #fff1f7;
    --decor-zone-corner: #353430;
  }
}
