/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  background-color: var(--primary-color);
  background-image: var(--main-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--primary-font-family);
  font-size: var(--font-size-text);
  min-inline-size: 375px;
  max-inline-size: 1024px;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
}

.header__decor__rec {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  color: var(--accent-color);
  top: 20px;
  right: 48px;
}

.header__decor__rec::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  top: 50%;
  right: 0;
  margin: -5px -20px 0 0;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  bottom: 20px;
  left: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  top: 20px;
  right: 20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 77px;
  min-block-size: 100vh;
}

.header__theme-menu {
  justify-self: center;
  padding-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  text-transform: lowercase;
  background-color: transparent;
  color: var(--color-menu);
  min-height: 26px;
  min-width: 70px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  text-shadow: var(--title-shadow-color);
}

.header__description {
  justify-self: end;
  align-self: baseline;
  margin-inline-end: 20px;
  line-height: 1.3;
  max-inline-size: 491px;
  color: var(--section-text-color);
}

.content {
  padding: 0 20px;
}

.content__section {
  display: grid;
  grid-template-columns: 34% 66%;
  line-height: 130%;
}

.content__section__one {
  padding-block-start: 60px;
}

.section__title {
  color: var(--color-text-titel);
  line-height: 1.3;
  font-size: var(--font-size-text);
}

.content__item__title {
  margin-block-end: 10px;
  color: var(--section-text-color);
  font-size: var(--font-size-text);
}

.content__item__text {
  margin-block-end: 20px;
  color: var(--content-text-color);
}

.link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--color-border-link);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--content-text-color);
}

.content__section_two {
  padding-block-start: 60px;
}

.section__title_two {
  width: 32%;
  padding-block-end: 20px;
}

.content__list_two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.content__section_thee {
  padding-block-start: 64px;
}

.font__weight__three {
  font-weight: 400;
}

.content__item__title_three {
  margin-block-end: 20px;
  color: var(--section-text-color);
  font-size: var(--font-size-text);
}

.gallery {
  padding-block-start: 61px;
}

.gallery__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.gallery__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
  gap: 20px;
  margin-block-start: 20px;
  margin-block-end: 60px;
}
.gallery__img:first-child {
  grid-column: span 2;
}
.gallery__img:nth-child(2) {
  grid-row: span 2;
}
.gallery__img:nth-child(3) {
  grid-row: span 2;
}
.gallery__img:nth-child(4) {
  grid-column: span 1;
}
.gallery__img:nth-child(5) {
  grid-column: span 2;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
}

.footer__title {
  color: var(--footer-title);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (width < 1024px) {
  
  .header {
    gap: 62px;
  }

  .header__title {
    padding-block-start: 10%;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: end;
    padding-inline-end: 20px;
    padding-block-start: 0;
  }
  .header__theme-menu-list {
    flex-direction: column;
    margin-block-end: 8px;
  }

  .header__description {
    max-inline-size: 364px;
  }

  .content__section {
    grid-template-columns: 32% 65%;
    gap: 3%;
  }

  .content__list_two {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  .section__three {
    padding-block-start: 9%;
  }

  .gallery__section {
    grid-template-rows: 192px 230px 318px;
  }
  .footer {
    margin-block-start: 61px;
  }
}

@media (width < 768px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-inline-start: 10px;
    padding-block-start: 0;
    line-height: 82.5%;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }

  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }

  .header__decor__rec {
    top: 11px;
    right: 40px;
  }

  .header {
    gap: 50px;
  }

  .header__theme-menu {
    align-self: start;
    padding-inline-end: 10px;
    padding-block-start: 20%;
  }
  .header__theme-menu-list {
    margin-block-end: 15px;
  }

  .header__description {
    justify-self: center;
    margin-inline: 10px;
    margin-block-start: 5px;
    max-inline-size: 100%;
  }
  .content {
    margin-block-end: 42px;
    padding-inline: 10px;
    padding-block-start: 37px;
  }
  .content__section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .content__section__one {
    padding-block-start: 0;
  }

  .content__section_two {
    max-inline-size: max-content;
    padding-block-start: 9%;
  }

  .section__title_two {
    width: 100%;
  }

  .title__item__indent__foot {
    padding-top: 1%;
  }

  .title__item__indent__device {
    padding-top: 2%;
  }
  .gallery__mobil {
    padding-block-start: 9%;
  }

  .gallery__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
 
  .footer {
    margin-block-start: 41px;
  }
}
